:root {
    /* Light Theme */
    --bodyColor: #EFF0F0;
    --principalColor: #FFFFFF;
    --secondColor: #141414;
    --sectionColor: #F7F7F7;
    --pointColor: #CCCCCC;
    --textColor: #666666;
    --titleColor: #373737;
}

body {
    background-color: var(--bodyColor);
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

header, .container {
    background-color: var(--principalColor);
    border-radius: 10px;
    box-shadow: 0px 1px 10px var(--pointColor);
    border: 1px solid #d6d6d6;
}

/* header */
.header {
    position: sticky;
    top: 8px;
    left: 8px;
    width: 96dvw;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
}

.navigation__listMenu {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.navigation__listMenu__item {
    border-radius: 30rem;
    padding: 0.4rem;
}

.navigation__listMenu img {
    width: 25px;
    height: 25px;
}

.btn{
    background-color: var(--secondColor);
    color: var(--principalColor);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.8rem;
}

.btn::before {
    content: "\002B";
    top: 0;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 30px;
    margin-right: 0.5rem;
    padding: 0 4px;
}
.navigation__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    position: relative;
}


.navigation__button__theme {
    background: none;
    border: none;
}

/* Main */

.container {
    margin: 1rem 0.5rem 0 0.5rem;
}
.main__hero{
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
}

.title__Disponible{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

h2 {
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--textColor);
}


h2::before {
    content: "";
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-bottom: 0.2rem;
    border-radius: 50%;
    background-color: var(--pointColor);
    margin-right: 0.6rem;
}

.hero__img__available {
    font-size: 0.6rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #1fac6f;
    border-radius: 20rem;
    padding: 0.3rem 0.5rem;
    background-color: #daf8eb;
}

.hero__img__available::before {
    content:"";
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background-color: #25C780;
    margin-right: .4em;
}

.hero__content img {
    width: 250px;
    margin: 2rem auto -1rem;
}

.hero__content__text {
    text-align: center;
}

.hero__content__principalTitre{
    font-size: 2rem;
    color: var(--titleColor);
    margin-bottom: 1rem;
    line-height: 2.2rem;
}

.hero__content__description {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--textColor);
}

.hero__content__containerButton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.hero__content__containerButton__button--email {
    color: var(--secondColor);
    border: 1px solid var(--pointColor);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.8rem;
}

.hero__content__containerButton__button--email::before {
    content: "\002B";
    top: 0;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 30px;
    margin-right: 0.5rem;
    padding: 0 4px;
}